body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #283136;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.main-header {
	background-color: #eeeeee;
}

.main-navigation a {
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.main-navigation a:hover {
	color: #fb565a;
}

.main-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-navigation .site-navigation-current {
	border-bottom: 2px solid #fb565a;
}

.main-navigation ul {
	list-style: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.slider ul {
	list-style: none;
}

.slide-title {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}

.btn {
	font: inherit;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;

	background-color: #fb565a;
	border-radius: 2px;
}

.btn:hover {
	background-color: #e74246;
}

.btn:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 -3px 0 0 rgba(0, 1, 1, 0.1);
}

.green-btn {
	background-color: #00ca74;
}

.green-btn:hover {
	background-color: #00bc6c;
}

.green-btn:active {
	background-color: #00aa62;
	box-shadow: 0 -3px 0 0 rgba(0, 1, 1, 0.1);
}

.yellow-btn {
	background-color: #efc84a;
}

.yellow-btn:hover {
	background-color: #eab534;
}

.yellow-btn:active {
	background-color: #e5a722;
	box-shadow: 0 -3px 0 0 rgba(0, 1, 1, 0.1);
}

.inner-page h1 {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}

.main-header-logo:hover {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.site-navigation-current a:hover,
.site-navigation-current a:active {
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.features ul {
	list-style: none;
}

.features-item h3 {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.about-us b {
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}

.about-us ul {
	list-style: none;
}

.about-us-details {
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
}

.about-us td {
	font-size: 45px;
	line-height: 10.06px;
	font-weight: bold;
	color: #000000;
}

.procent {
	vertical-align: super;
	font-size: 25px;
}

.partners ul {
	list-style: none;
}

.partners-links a:link {
	opacity: 0.2;
} 

.partners-links a:hover {
	opacity: 1;
}

.partners-links a:active {
	opacity: 0.1;
}

.filters ul {
	list-style: none;
}

.filters fieldset {
	border: none;
}

.filters legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.filters .price-output {
	font-size: 16px;
	line-height: 22px;
}

.filter-option {
	color: #283136;
}

.filter-option input {
	opacity: 0.4;
}

.filter-option:hover {
	color: #000000;
}

.filter-option input:hover {
	opacity: 1;
}

.filter-option:active {
	color: rgba(40, 49, 54, 0.3);
}

.filter-option input:active {
	opacity: 0.3;
}

.filter-btn {
	border: none;
	background-color: #eeeeee;

	font: inherit;
	text-align: center;
	vertical-align: middle;
}

.filter-btn:hover {
	background-color: #dfdfdf;
}

.filter-btn:active {
	outline: none;

	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
	box-shadow: 0 -3px 0 0 rgba(0, 1, 1, 0.1);
}

.name-filter {
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	color: #000000;
}

.catalog-filters fieldset {
	border: none;
}

.sort {
	list-style: none;
}

.filter-option a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
}

.filter-option a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.filter-option a:active,
.filter-current a {
	color: rgba(0, 0, 0, 1);
}

.catalog-list {
	list-style: none;
}

.catalog-list h3 {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
}

.modal-info a {
	font: inherit;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;

	background-color: #fb565a;
	border-radius: 2px;
}

.modal-info a:hover {
	background-color: #e74246;
}

.modal-info a:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 -3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-list {
	list-style: none;
}

.pagination-item a {
	background-color: #eeeeee;
	color: #000000;
}

.pagination-item a:hover {
	background-color: #dfdfdf;
	border-radius: 2px;
}

.pagination-item a:active {
	background-color: #d5d5d5;
	border-radius: 2px;
	color: rgba(0, 0, 0, 0.3);
	box-shadow: 0 -3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-current a:hover {
	background-color: #eeeeee;
	color: #000000;
}

.pagination-item-current a:active,
.pagination-item-current a {
	background-color: #eeeeee;
	color: #000000;
	border: 3px solid #dbdbdb;
}

.footer-social b {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}

.footer-social ul {
	list-style: none;
}

.footer-social p {
	line-height: 20px;
}

.social-links a:link {
	background-color: #e1e1e1;
	border-radius: 50%;
}

.social-links a:hover {
	background-color: #e74246;
	border-radius: 50%;
}

.social-links a:active {
	background-color: #d7373b;
	border-radius: 50%;
}

.modal-map-info h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.modal-map-info p {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
}

.modal {
	background-color: #ffffff;
	box-shadow: 
		0px 20px 40px 0px rgba(0, 1, 1, 0.75);
}

.modal-letter h2 {
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}

.modal-letter label {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	color: #000000;
}

.modal-letter [placeholder],
.modal-letter textarea {
	font-size: 16px;
	line-height: 18px;
	color: rgba(68, 68, 68, 0.5);
}

.modal-letter input,
.modal-letter textarea {
	border: 2px solid #d7dcde;
	border-radius: 2px;
}

.modal-letter input:hover,
.modal-letter textarea:hover {
	border-color: #b4b9bb;
}

.modal-letter input:focus,
.modal-letter textarea:focus {
	outline: none;
	border-color: #000000;
	color: #000000;
}

.modal-btn {
	border: none;
}